body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 30%;
  background-color: #f4f4f4;
  overflow-y: auto;
  border-right: 1px solid #ddd;
  padding: 10px;
}

.content {
  flex: 1;
  border: none;
}
